################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CPP_CSharpString2017/v15
/CPPTest/x64/Debug
/CSharpTest/obj/Debug
/Output
